div.bodyBox
{
	width:224px;
	height:354px;
    padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
    border: 3px solid gray;
	
	margin-left:40%;
	margin-top:10%;
	background-color:#707070;
	color: white;

	box-shadow: 0px 0px 20px 3px #45242C;
	
	text-align:center;
	
	font-family:"Arial Black", Gadget, sans-serif;
	
	position:absolute;
}
#homeButton
{	
	font-size: 15px;
	font-family:consolas, mono-space;
	margin-bottom:20px;
	background-color:#2E2E2E;
	border-radius: 10px;
	padding:3px;
	margin:10px;
	padding-left:5px;
	padding-right:10px;
	box-shadow: 3px 5px 7px 0px #45242C;
	color: white;
	
}
#numberBox/*display*/
{
	height:50px;
	width:216px;
	background-color: #2E2E2E;
	color: white;
	border:none;
	font-size: 30px;
	margin: 0px;
	margin-top: 3px;
	text-align:right;
	padding-right: 3px;
	padding-left: 3px;
}

#numberButton
{
	height:70px;
	width:50px;
	background-color: #2E2E2E;;
	color: white;
	border: 0px;
	border-color: #1C1C1C;
	padding:0px;
	margin-top: 4px;
	font-size: 20px;
	font-weight: 200;
	
}
